@font-face {
  font-family: "Press Start";
  src: url(./fonts/press-start-2p/PressStart2P.ttf);
}

@font-face {
  font-family: "Deja Vu";
  src: url(./fonts/dejavu-sans-mono-fonts-ttf-2.35/ttf/DejaVuSansMono.ttf);
}

@font-face {
  font-family: "Terminal";
  src: url(./fonts/Terminal-Grotesque-master/terminal-grotesque.ttf);
}

h1 {
  font-size: 70px;
  font-family: "Terminal" !important;
  letter-spacing: 0.8px;
  color: black;
}

@media only screen and (max-width: 411px) {
  h1 {
    font-size: 40px;
    line-height: 35px;
  }

  h2 {
    font-size: 25px !important;
  }

  p,
  a {
    font-size: 16px !important;
  }
}

h2 {
  font-family: "Terminal" !important;
  font-size: 35px;
  color: black;
}

h3 {
  font-family: "Terminal" !important;
  font-size: 25px;
  color: black;
}

p {
  font-family: "Deja Vu" !important;
  font-size: 20px;
}

a {
  font-family: "Deja Vu" !important;
}

a.navbar-item:hover {
  color: none !important;
  background-color: none !important;
}

.highlight {
  background: url(./green_brush.png);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 4px 0;
}

.container {
  text-align: center;
  max-width: 800px;
}

.navbar-end {
  padding-right: 50px;
}

/* 🤠 dashes 🤠 */

.dash {
  width: 7px;
  height: 25px;
  margin: auto;
  margin-bottom: 12px !important;
}

.red {
  background-color: #f85a3e;
}

.orange {
  background-color: #ff9770;
}

.yellow {
  background-color: #ffd670;
}

/* 🤠 pixel art 🤠 */

.flame {
  max-height: 39px;
  max-width: 24px;
  display: inline-block;
  margin: 0 10px 0 10px;
}

.w {
  background-color: #ffffff;
  height: 3px;
  width: 3px;
  float: left;
}

.r {
  background-color: #ff4500;
  height: 3px;
  width: 3px;
  float: left;
}

.o {
  background-color: #e06e04;
  height: 3px;
  width: 3px;
  float: left;
}

.g {
  background-color: #ef9921;
  height: 3px;
  width: 3px;
  float: left;
}

.y {
  background-color: #eaaa07;
  height: 3px;
  width: 3px;
  float: left;
}

.snowflake {
  max-height: 39px;
  max-width: 39px;
  display: inline-block;
  margin: 0 10px 0 10px;
}

.b {
  background-color: #42d9f4;
  height: 3px;
  width: 3px;
  float: left;
}

.w {
  background-color: #ffffff;
  height: 3px;
  width: 3px;
  float: left;
}

.pixel-text {
  display: inline-block;
  text-align: center;
}
