body {
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

h1,
a {
  font-family: "Poppins", sans-serif;
  color: #ce97b4;
}
.contact {
  margin-top: 100px;
  padding: 20px;
  margin: 0 auto;
}
.icons {
  display: inline-flex;
  margin: 0 auto;
  max-width: 100%;
  width: 690px;
  padding: 20px;
}

.email,
.github,
.linkedin {
  margin: 40px;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

nav {
  text-align: left;
  margin-left: 100px;
}
