body {
  margin: 0 auto;
  text-align: center;
  align-content: center;
}

.projects {
  padding: 20px;
  width: 650px;
  margin: 0 auto;
  margin-top: 75px;
}

h1,
h3,
a {
  font-family: "Poppins", sans-serif;
  color: #ae719a;
}

p {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

nav {
  text-align: left;
  margin-left: 100px;
  position: fixed;
  top: 0;
}
